<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8 />
    <title>Change Form</title>
    <link href="{{ url_for('static', filename='form.css') }}" type="text/css" rel="stylesheet">
    <style>
        form {
            display: inline;
        }
    </style>
</head>

<h2>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
</h2>

<body>
    <div class="container">
    <form action="/form" method="POST">
        <p>EPG Name <input type="text" name="epg" /></p>
        <p>BD Name <input type="text" name="bd" /></p>
        <p>Domain <input type="text" name="dom" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <form action="/">
        <input type="submit" value="Return" />
    </form>
</div>
</body>

</html>