<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Never Enough</title>
  <link href="{{ url_for('static', filename='index.css') }}" type="text/css" rel="stylesheet">
</head>

<body>
  <div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
      <div class="text">
        <h1>Team Never Enough</h1>
        <br>
        <h2>End-to-End Data Center Infrastructure Automation</h2>
        <h3>With Application Centric Infrastructure, Firepower, Terraform Cloud & Webex</a></h3>
        <br>
        <h3>
          <a href="underlay">Underlay change form</a>
          <a href="record_underlay">Underlay change Records</a>
        </h3>
        <h3>
          <a href="overlay">Overlay change form</a>
          <a href="record_overlay">Overlay change Records</a>
        </h3>

        <h3>
          <a href="policy">Policy change form</a>
          <a href="record_policy">Policy change Records</a>
        </h3>

        <h3>
          <a href="vm">VM change form</a>
          <a href="record_vm">VM change Records</a>
        </h3>

      </div>
    </div>

    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->

  </div>
  <!--Header ends-->

  <!--Content starts-->
  <div class="content flex">
    <p>Team Never Enough | 2021 | Cisco</p>
  </div>
  <!--Content ends-->

</body>

</html>