<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" href="static/picnic.min.css">
</head>

<body>
    <table>
        <tr>
            <th>contract1</th>
            <th>consumer_epg1</th>
            <th>provider_epg1</th>
            <th>contract2</th>
            <th>consumer_epg2</th>
            <th>provider_epg2</th>
            <th>Change Datetime</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.contract1 }}</td>
            <td>{{ record.consumer_epg1 }}</td>
            <td>{{ record.provider_epg1 }}</td>
            <td>{{ record.contract2 }}</td>
            <td>{{ record.consumer_epg2 }}</td>
            <td>{{ record.provider_epg2 }}</td>
            <td>{{ record.datetime }}</td>
            {% endfor %}
    </table>
    <form action="/">
        <input type="submit" value="Return" />
    </form>
</body>

</html>